<h3>IMDB - {{movie.title}}</h3>
<div class="row">
    <div class="col-3">
        <img style="width: 100%" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}"/>
    </div>
    <div class="col">

        <p>{{movie.overview}}</p>
        <p>Release Date: {{movie.release_date}}</p>
        <p>Vote Average: {{movie.vote_average}} / 10</p>
    </div>
</div>
