<h3 style="text-align: center">News Feed {{#if query}} - {{query}}{{/if}}</h3>
<div>
    {{#each news.items}}
        <a href="#" onclick="$.get('/open?q=' +'{{this.url}}')">
            <h6>{{inc @index}}) {{this.title}}</h6>
        </a>
        <script>
            registerKeyNumber({{inc @index}}, () => $.get('/open?q=' +'{{this.url}}'))
        </script>
    {{/each}}
</div>
<script>
    setInterval(() => {
        window.location.reload();
    }, 30000)
</script>
