<div class="row" style="margin-top: 15px; padding: 20px">
    {{#each functions}}
        <div class="col-6" style="margin-bottom: 15px">
            <a href="/panel/{{this.command}}">
                <h4 style="padding: 0; margin: 0">{{inc @index}}) {{this.command}}</h4>
                <h6>{{this.metadata.description}}</h6>
            </a>
            <script>
                registerKeyNumber({{inc @index}}, () => location.href = "/panel/{{this.command}}")
            </script>
        </div>
    {{/each}}
</div>
